@model Scandimex.Models.CotizacionProducto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<br />
<fieldset>
    <legend>CotizacionProducto</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.CotizacionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CotizacionId)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.TipoProductoCodigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoProductoCodigo)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SubProductoCodigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubProductoCodigo)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.SubCategoría)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategoría)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ValorUnitario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorUnitario)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ValorFinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorFinal)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
