@model Scandimex.Models.CotizacionProducto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CotizacionProducto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CotizacionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CotizacionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoProductoCodigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoProductoCodigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubProductoCodigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubProductoCodigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubCategoría)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategoría)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValorUnitario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorUnitario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValorFinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorFinal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CotProdId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
