@model Scandimex.Models.Ciudad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Realmente quieres eliminar éste registro?</h3>
<br />
<fieldset>
    <legend>Ciudad</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.CiudadNombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiudadNombre)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PaisAbreviacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pais.PaisNombre)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
