@model Scandimex.Models.Ciudad

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.CiudadNombre )
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CiudadNombre)
        </dd>
        <dt>
            @Html.LabelFor(model => model.PaisAbreviacion, "Seleccione País")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais.PaisNombre)
        </dd>
    </dl>
</div>


@*<fieldset>
        <legend>City</legend>

        <div class="display-label">
            @Html.LabelFor(model => model.CiudadNombre, "City name")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CiudadNombre)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.CodigoPais, "City name")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PaisCodigo.PaisNombre)
        </div>
    </fieldset>*@
<p>
    @Html.ActionLink("Edi", "Edit", new { id = Model.CiudadCodigo }) |
    @Html.ActionLink("Volver", "Index")
</p>
