@model Scandimex.Models.CotizacionServicio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{ var CotizacionId = (Int32)ViewBag.CotizacionID;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CotizacionServicio</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CotizacionId, "Codigo Interno de Cotización")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CotizacionId, new { style = "display:none;", Value = CotizacionId })
            @ViewBag.CotizacionCodInter
        </div>
        <br /> 

        <div id="DivTipoServicio" class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.TipoServicioCodigo, "Select Client", new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.TipoServicioCodigo, new SelectList(ViewBag.TipoServicios, "TipoServicioCodigo", "NombreTipoServicio"))

                @Html.ValidationMessageFor(model => model.TipoServicioCodigo, "Debe seleccionar algun Cliente.")
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategoría)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubCategoría)
            @Html.ValidationMessageFor(model => model.SubCategoría)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HorasServicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HorasServicio)
            @Html.ValidationMessageFor(model => model.HorasServicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorHora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorHora)
            @Html.ValidationMessageFor(model => model.ValorHora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorFinal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorFinal)
            @Html.ValidationMessageFor(model => model.ValorFinal)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a Cotización", "Details", "Cotizacion", new { _id = Model.CotizacionId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
