@model Scandimex.Models.Pais

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Realmente quieres eliminar éste registro?</h3>
<br />
<fieldset>
    <legend>Pais</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.PaisNombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaisNombre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PaisOrden)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaisOrden)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
