@model IEnumerable<Scandimex.Models.Pais>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Paises</h2>

<b>   @Html.ActionLink("Crear nuevo", "Create")</b>
<br />

    @using (Html.BeginForm("Index", "Pais", FormMethod.Get))
    {
    <p>
        País: @Html.TextBox("_Filtro")
        <input type="submit" value="Buscar" />
    </p>
    } 
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaisNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaisOrden)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaisNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaisOrden)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { _CodigoAbreviacion = item.PaisAbreviacion }) |
                        @Html.ActionLink("Det", "Details", new { _CodigoAbreviacion = item.PaisAbreviacion }) |
                        @Html.ActionLink("Del", "Delete", new { _CodigoAbreviacion = item.PaisAbreviacion })
                    </td>
                </tr>
            }

        </table> 